@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5c5c5;
    font-family: 'Poppins';
}

.navbar {
    border-right: 8px solid #191970;
    background-color: #28289a;
    height: 100vh;
    width: 110px;
    padding: 2em 0 2em 1em;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;

    overflow: hidden;
    transition: 0.5s;
}

.navbar:hover {
    width: 240px;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.nav-item {
    width: 100%;
}

.nav-link:hover {
    background-color: #191970;
    color: #fff;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    gap: 2.5em;
    align-items: center;
    text-transform: uppercase;
    transition: 0.5s;
    border-top-left-radius: 34px;
    border-bottom-left-radius: 34px;
    padding: 1em 2em;
}

.span-txt {
    font-size: 1.2rem;
}

.bi {
    font-size: 3rem;
}

.calendarios {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
    text-align: center;
    align-items: center;
}

.calendarios .selectBtn {
    width: 260px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    gap: 10em;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 3em;
}

.calendarios.ativo .meses {
    display: block;
}


.meses {
    display: none;
    background-color: #fff;
    width: 260px;
    padding: 1em;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    gap: 1em;
    margin-top: 1em;

    overflow: hidden;
    position: fixed;
    top: 11%;
}

.meses li {
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    transition: 0.2s;
}

.meses li a {
    color: #000;
    text-decoration: none;
}

.meses li:hover {
    background-color: #ececec;
}


.meses li {
    list-style: none;
}

.mes2023 {
    margin-top: 2em;
    font-size: 2rem;
}

.mes2023 caption {
    font-size: 3rem;
    color: #28289a;
    margin-bottom: .5em;
}

.mes2023 th, .mes2023 td {
    border: none;
    padding: .5em;
    background-color: #fff;
    border-radius: 5px;
    color: #28289a;
}

.mes2023 td:hover {
    transform: scale(1.02);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

.mes2023 td a {
    text-decoration: none;
    color: #28289a;
}



