@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    display: flex;
    height: 100vh;
    width: 100vw;
}

.imagem {
    width: 50%;
    background-color: #c5c5c5;
    display: flex;
    flex-direction: column;
    gap: 6em;
}

.imgHeader {
    padding: 2em 4em;
}

.imgLogin {
    width: 70%;
    animation: moveImage 4s infinite;
    position: relative;
    margin: 0 auto;
    
}

@keyframes moveImage {
    0% {
      top: 0;
      left: 0;
    }
    25% {
      top: 0;
      left: 25px;
    }
    50% {
      top: 25px;
      left: 25px;
    }
    75% {
      top: 25px;
      left: 0;
    }
    100% {
      top: 0;
      left: 0;
    }
  }


.form-header {
    display: flex;
    justify-content: end;
    padding: 2em 4em;
    gap: 2em;
}

.form-header a {
    transition: .2s;
}

.bi {
    font-size: 1.5rem;
    color: #c5c5c5;
}

.form-header a:hover {
    transform: translateY(-1px);
}

header h1 {
    color: #28289a;
}

.formulario {
    width: 50%;
    background-color: #28289a;
    display: flex;
    flex-direction: column;
}

form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.logn-titulo h1 {
    color: #c5c5c5;
    margin-bottom: 4em;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 5em;
}

.login-form input {
    border: none;
    border-bottom: 2px solid #c5c5c5;
    background-color: transparent;
    caret-color: transparent;
    color: #c5c5c5;
    padding: .5em;
    font-size: 1.2rem;
}

.login-form input::placeholder {
    color: #c5c5c5;
    font-size: 1.2rem;
}

.login-form input:focus {
    outline: none;
}


.login-entrar button {
    border: none;
    background-color: rgb(70, 185, 66);
    width: 100%;
    padding: .5em;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    font-family: 'Poppins';
}




